body{
    background: url(/SimulacroExamen2/imagenes/pexels-sanaan-mazhar-3075993\ \(1\).jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    margin-top: 150px;
    width: 760px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 5%;
    text-align: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    size: 20px;
}

.caja{
    width: 25%;
    height: 80vh;
    border: 2px solid rgb(228, 0, 0);
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;

}
.aBk {
    width: 180px;
    background-color: #29447e;
    border: 0;
    padding: 6px 18px 6px 18px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 6px 0 6px 0;
    font-weight: bold;
    color: #FFFFFF;
}

.ha{
    border: 2px solid rgb(2, 0, 121);
}